.grid{
    display: grid;    
    grid-template-columns: 55% 45%;
    grid-template-rows: 37.5em;
    
}

.title h1{
    text-align: left;
    margin-top: 1em;
    color: #000;
    text-shadow: 7px 4px 5px rgb(87, 87, 92);
    
}

.title h3{
    text-align: left;
    color: white;
}
.container1 h6{
    text-align: left;
    color: rgb(209, 202, 202);
    
}

.classico{
    padding: 0em;  
}

.form-boxx{
    padding: 1em;
    display:grid;
    
}
.container1{    
    margin-top: auto;
    margin-bottom: 4em;
    background-color: rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 15px;
    margin-right: 3.125em;
    
}


input {
    width: 80%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: 0.35s;
    margin-top: 0.5em;
    margin-left: 15px;
    
 }

 .btonflexi{
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
 }

 .bg{
    background-image: url(https://i.ibb.co/Jp8KN2N/finaltodo.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

 @media (max-width:768px){
    .grid{        
        grid-template-columns: 1fr;
        grid-template-rows: 1% 99%;    
    }
 }
